/* CSS Document */

/* body */
#container {
  min-width: 1024px;
}

strong {
  font-weight:bold;
}

div.actionMinsLabel {
  text-align: right;
}

input.textBox {
	margin: 0 10px;
}

input.textBoxPeriod {
  border: none;
  width: 70px;
  background: #FFFFFF;
}

select { width: 100% }

#container h2 {
	border-bottom: none;
	line-height: 20px;
	font-size: 14px;
}
.selectContainer {
  border: 1px solid #FFFFCC; /* IE need this for the container to show for some glorious reason */
  padding: 2px 0px;
}

.floatLeft { float: left; }
.floatRight { float: right; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


.inline {display: inline;}

/* Breadcrumb & Page Info wrap */

.options a {
	color: #FFFFFF;
}

#pageInfoWrap ul {
	margin: 0;
}
#pageInfoWrap ul#stats li {
	display: inline;
}

/* Header */

#header {
  background:#0B2972;
  width:auto;
  height:52px;
  padding:10px 10px 0;
}

#header h1 {
  float: left;
  position: relative;
  top: -5px;
  left: -5px;
  width: 216px;
  height: 51px;
  background:#0B2972 url(img/logo.gif) no-repeat;
}
#header h1 span { visibility: hidden; }

#header ul {
}

#header li {
  color:#ffffff;
  display:inline;
  margin:0;
  padding:0;
  padding:0 3px 0 0;
}

#header #welcome {
  font-weight:bold;
  padding:0 10px 0 0;
}

#header li a {
  color:#fff;
}

#header .divider {
  padding:0 0 0 5px;
}


/* Top Navigation */
.topNavWrap {
  float: right;
  text-align:right;
}

.loginWrap {
 clear:both;
 height:0.95em;
}

.loginWrap ul {
  float:right;
  margin:0;
  padding:0;
}

.loginWrap ul li {
  display:inline;
  list-style-type:none;
  margin:0;
  padding:0;
}

.loginWrap ul li a, .loginWrap ul li a:hover {
  color:#ffffff !important;

  margin-top:0px;
}

.loginWrap ul li.last a, .loginWrap ul li.last a:hover {
  border-right:0px solid #ffffff !important;
}

#slidetabsmenu {
  clear:both;
  font-family:Arial, Helvetica, sans-serif !important;
  font-size:12px;
  line-height:normal;
}

#slidetabsmenu ul{
  float:right;
  list-style-type: none;
  margin:0;
  padding:0;
  right: 0;
}

#slidetabsmenu li{
  display:inline;
  margin:0;
  padding:0;
  vertical-align:bottom;
}

#slidetabsmenu a {
  float:left;
  font-size:12px;
  background:url(img/tabLeft.gif) no-repeat left top !important;
  margin-left: 5px;
  padding:0 0 0 10px !important;
  text-decoration:none !important;
  border-bottom: 1px solid #666666;
}

#slidetabsmenu a span {
  float:left;
  font-size:12px;
  display:block;
  background:url(img/tabRight.gif) no-repeat right top !important;
  padding:5px 10px;
  padding-left: 0px;
  font-weight:bold;
  color:#FFFFFF !important;
  padding-left: 0px;
}

#slidetabsmenu a.restricted {
  float:left;
  font-size:12px;
  background:url(img/tabLeftRestricted.gif) no-repeat left top !important;
  margin-left: 5px;
  padding:0 0 0 10px !important;
  text-decoration:none !important;
  border-bottom: 1px solid #666666;
}

#slidetabsmenu a.restricted span {
  float:left;
  font-size:12px;
  display:block;
  background:url(img/tabRightRestricted.gif) no-repeat right top !important;
  padding:5px 10px;
  padding-left: 0px;
  font-weight:bold;
  color:#FFFFFF !important;
  padding-left: 0px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#slidetabsmenu a span {float:none !important;}
/* End IE5-Mac hack */

#slidetabsmenu a:hover span {
  color: #ffffff !important;
  font-size:12px;
}

#slidetabsmenu .on a {
  background-position:0 -26px !important;
  border-bottom: 1px solid #F1F1FA;
}

#slidetabsmenu .on a span {
  background-position:100% -26px !important;
  color: #333333 !important;
}

#slidetabsmenu a:hover {
  background-position:0 -26px !important;
  color: #333333;
}

#slidetabsmenu a:hover span {
  background-position:100% -26px !important;
  color: #333333 !important;
}

#subtabs {
	margin: 10px 0 0 10px;
}

#subtabGroup {
	margin-bottom: 10px;
}

/* Portfolio Manager */

#naviPortfolioManager .ytab-strip-wrap {
  float:left;
  bottom:0;
  padding-left:10px;
}

#naviPortfolioManager .ytab-right {
  background:transparent url(img/subNaviRight.gif) no-repeat bottom right;
  display:block;
  padding:4px 0;
  color:white;
  text-decoration:none;
}

#naviPortfolioManager .ytab-left {
  background:transparent url(img/subNaviLeft.gif) no-repeat bottom left;
  padding:4px 0;
}

* html #naviPortfolioManager .ytab-left {
  background:transparent url(img/subNaviLeft.gif) no-repeat bottom left;
  padding:0px;
}

#naviPortfolioManager .on .ytab-right {
  background:transparent url(img/subNaviSelectedRight.gif) no-repeat bottom right;
  position:relative;
}

#naviPortfolioManager .on .ytab-left {
  padding: 0px;
  background:transparent url(img/subNaviSelectedLeft.gif) no-repeat bottom left;
}

* html #naviPortfolioManager .on .ytab-left {
  background:transparent url(img/subNaviSelectedLeft.gif) no-repeat bottom left;
  padding:0px;
}

#naviPortfolioManager .ytab-inner {
  padding:3px 5px;
}

* html #naviPortfolioManager .ytab-inner {
  padding:0px 5px;
}

#naviPortfolioManager .on .ytab-inner {
  padding:2px 5px 4px 4px;
  z-index:100;
  position:relative;
  border-bottom:1px solid #fff;
}

* html #naviPortfolioManager .on .ytab-inner {
  padding:0px 5px;
}

#naviPortfolioManager .ytab-text {
  padding:2px 10px 4px;
  background:#a5b0c5;
  font-weight:bold;
  color:#333;
  border-top:1px solid #7d91aa;

}

#naviPortfolioManager .on .ytab-text {
  background:#fff;
  color:#333;
  z-index:100;
  padding:2px 10px 6px;
  position:relative;
}

#naviPortfolioManager .yui-ext-tabbody {
  border-top:1px solid #7d91aa;
  background:#fff;
}

/* modal dialog */

.modalDialog {
  border: 8px solid #FFFFFF;
  padding: 10px 12px;
  width: 454px;
  background: #003366;
}

.modalDialog h2 {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}
.modalDialog h2 img {
  vertical-align: baseline;
  position: relative;
  top: -4px; }

.modalDialog p {
  padding-bottom: 10px;
  color: #FFFFFF;
}

.table-main .buttonsRow td {
  text-align: right;
}

/* generic container */
.componentContainer {
  margin: 10px 0px;
  padding: 0px;
  background: url(img/sectionBackgroundLeft.gif) bottom left;
}
.greenComponentContainer {
  background: url(img/sectionBackgroundLeftGreen.gif) bottom left;
}
.componentContainerHeader {
  background: #B7C5E7 url(img/sectionHeaderTop.gif) top left no-repeat;
}
.greenComponentHeader {
  background: #6C958F url(img/sectionHeaderTopGreen.gif) top left no-repeat;
  color: #FFFFFF;
}
.componentContainerHeaderRight {
  background: url(img/sectionHeaderRight.gif) top right no-repeat;
}
.greenComponentHeaderRight {
  background: url(img/sectionHeaderRightGreen.gif) top right no-repeat;
}
.componentContainerHeaderWrap {
  padding: 0px 10px;
}
.greenComponentHeaderWrap {
}
.componentContainerHeader h1 {
  float: left;
  line-height: 20px;
  width: 50%;
}
.componentContainerHeaderWrap h1 {
  font-size: 14px;
}
.componentContainerHeader .headerLink {
  margin: 10px 0;
  float: right;
  width: 50%;
  text-align: right;
}
.componentContainerHeader .headerLink a:link,
.componentContainerHeader .headerLink a:visited {
  font-size: 11px;
  text-decoration: underline;
  color: #333333;
}
.greenComponentHeader .headerLink a:link,
.greenComponentHeader .headerLink a:visited {
  color: #FFFFFF !important;
}
.greenComponentHeaderWrap h1 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.componentContainerHeader h1 img,
.componentContainerHeader .headerLink img {
  margin-bottom: -3px;
  vertical-align: baseline;
}

.helpPanel {
  margin: 10px;
  border: 1px solid #AEAEAE;
  padding: 10px;
  background: #FFFFFF;
}

.helpPanel h2 {
  border-bottom: 1px solid #AEAEAE;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.helpPanel ul {
  display: block !important;
}

.helpPanel ul li {
  display: block !important;
  width:auto;
  background: yellow;
}

.componentContainerBody {
  padding: 10px;
  background: url(img/sectionBackgroundRight.gif) bottom right no-repeat;
}

.componentContainerBody h1 {
  font-size: 14px;
}

/* Green version */
.greenComponentContainer .componentContainerBody {
  padding: 10px;
  background: url(img/sectionBackgroundRightGreen.gif) bottom right no-repeat;
}

/* standard table */

table.dataTable {
  width: 100%;
}

table.dataTable td {
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  padding: 5px 10px; /* takes over the table styles set by Yahoo */
  vertical-align: top;
}

.table-main .newRowSimple td, .table-main .newRowAdvanced td, .table-main .editRow td {
	background-color: #FFFFCC;
}

.table-main tr:nth-child(2n).editRow td {
	background-color: #FFFFCC;
}
	
table.dataTable td.edit {
  vertical-align: middle;
}

table.dataTable tr.active td {
  background: #BFE59F;
  cursor: move;
}

table.dataTable tr.target td {
  border-top: 1px dashed red;
}

table.dataTable img {
  margin-bottom: -3px;
  vertical-align: baseline;
  max-width: none;
}

table.dataTable input.editbox {
  font-size: 12px;
  width: 98%;
  height: 98%;
}

table.dataTable p {
  padding-bottom: 3px;
}

table.dataTable .optionsContainer {
  overflow: auto;
  border: 1px solid #CCCCCC;
  padding: 4px 9px;
  height: 162px;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table.dataTable .optionGroup {
  /* border-bottom: 1px dotted #809DB9;
     padding: 0px 9px;*/
}

table.dataTable .optionGroupLast {
  border-bottom: 0px dotted #809DB9;
}

table.dataTable .optionHeader {
  padding-top: 2px;
}

.optionsContainer .optionHeader {
	font-weight: bold;	
}

table.dataTable .option {
  padding-top: 2px;
}

table.dataTable .option span {
  margin-left: 14px;
  display: inline;
}

/* row edits, new rows */

.editRow {
  background: #FFFFCC;
}

.noDisplay {
  display:none;
}

table.dataTable .editRow th {
  border: none !important;
  background: transparent;
  width: 7em;
  white-space: nowrap;
  color: #000000;
}

table.dataTable .editRow td {
  color: #000000;
}

table.editRowWrap {
  width: 100%;
  margin-bottom: 10px;
}

table.editRowWrap th, table.editRowWrapFilter th { border: none; padding: 5px 0 5px 10px; vertical-align: middle; }
table.editRowWrap td, table.editRowWrapFilter td { border: none; padding: 5px 0 5px 10px; vertical-align: middle; }
table.editRowWrap td { padding: 0 0 0 10px !important; margin: 0; }

table.editRowWrapFilter {
  width: 100%;
  background: #E1E5D8;
  margin-bottom: 10px;
}

.twoColumnContainer {
  background: url(img/separator.gif) top center repeat-y;
}

.twoColumnColumn {
  width: 49.9%;
}

.twoColumnColumnOneWrap {
  padding-right: 10px;
}

.twoColumnColumnTwoWrap {
  padding-left: 10px;
  /*border-left: 1px solid	#333333; tempBear */
}

.editRowHeaderWrap h2 {
  float: left;
  width: 75%;
}

.editRowHeaderWrap .headerLink {
  float: right;
  width: 25%;
  font-size: 11px;
  margin: 10px 0;
  text-align: right;
}

td.firstCell { width: 7em; }
th.lastCell { white-space: nowrap; padding-right: 10px !important; border-right: 1px solid #E3EAEA !important; }
td.lastCell { white-space: nowrap; padding-right: 10px !important; }
.selectBoxCellSmall { width: 70px; }
.selectBoxCellSmall select { width: auto; }
.selectBoxCellAction { }
.selectBoxCellAction select { width: auto; }
.buttons { white-space: nowrap; padding-right: 10px !important; width: 3em; }
.totalsCell { width: 80px; white-space: nowrap; text-align: right; }
.lastCell1Button { width: 20px; text-align: center; }
.lastCell3Buttons { width: 56px; white-space: nowrap; text-align: center; }
.table-main .enableCell { width: 40px; text-align: center; }
.table-main .enableCell input[type="checkbox"] {
	margin: 0;
}
/* Help box */

.puffyBoxContainer {
  padding-top:40px;
  width: 100%;
}

.puffyBoxContainerBlue {
  width: 100%;
}

.puffyBoxContainerNoPadding {
  padding-top:0px;
  width: 100%;
}
table.dataTable .puffyBoxContainer {
  padding-top:0px;
}

.puffyBox {
  background: url(img/puffyBoxBottomRight.gif) no-repeat bottom right;
  font-size:100%;
  color:black;
  display:none;
  margin-bottom:10px;
}

.puffyBoxBlue {
  background: url(img/puffyBoxBottomRightBlue.gif) no-repeat bottom right;
  font-size:100%;
  color:black;
  display:none;
}

.greenComponentContainer .puffyBox {
  background:url(img/puffyBoxBottomRightGreen.gif) no-repeat bottom right;
}
table.dataTable .puffyBox {
  margin: 10px 0;
  background:url(img/puffyBoxBottomRightYellow.gif) no-repeat bottom right;
}

.puffyBox a:link, .puffyBox a:visited {
  color: #000000;
  text-decoration: underline;
}

.puffyBoxBody {
  background:url(img/puffyBoxBottomLeft.gif) no-repeat bottom left;
  margin:0;
  padding:8px 10px;
  text-align:left;
}

.puffyBoxBodyBlue {
  background:url(img/puffyBoxBottomLeftBlue.gif) no-repeat bottom left;
  margin:0;
  padding:8px 10px;
  text-align:left;
}

.greenComponentContainer .puffyBoxBody {
  background:url(img/puffyBoxBottomLeftGreen.gif) no-repeat bottom left;
}
table.dataTable .puffyBoxBody {
  background:url(img/puffyBoxBottomLeftYellow.gif) no-repeat bottom left;
}

.puffyBoxHeader {
  background: url(img/puffyBoxTopRight.gif) no-repeat top right;
  margin:0;
  padding:0;
  text-align:left;
}

.puffyBoxHeaderBlue {
  background: url(img/puffyBoxTopRightBlue.gif) no-repeat top right;
  margin:0;
  padding:0;
  text-align:left;
}

.greenComponentContainer .puffyBoxHeader {
  background: url(img/puffyBoxTopRightGreen.gif) no-repeat top right;
}
table.dataTable .puffyBoxHeader {
  background: url(img/puffyBoxTopRightYellow.gif) no-repeat top right;
}

.puffyBoxHeader h2 {
  background:url(img/puffyBoxTopLeft.gif) no-repeat top left;
  margin:0;
  padding:8px 10px 3px 10px; /* See images to judge the measurements */
  color:#000000;
  font-weight:bold;
  font-size: 14px;
  line-height:20px;
}

.puffyBoxHeaderBlue h2 {
  background:url(img/puffyBoxTopLeftBlue.gif) no-repeat top left;
  margin:0;
  padding:8px 10px 3px 10px; /* See images to judge the measurements */
  color:#000000;
  font-weight:bold;
  font-size:14px;
  line-height:1em;
}

.greenComponentContainer .puffyBoxHeader h2 {
  background:url(img/puffyBoxTopLeftGreen.gif) no-repeat top left;
}
table.dataTable .puffyBoxHeader h2 {
  float: none;
  background:url(img/puffyBoxTopLeftYellow.gif) no-repeat top left;
}

.puffyBoxHeader h2 img {
  vertical-align: baseline;
  margin-bottom: -2px;
}

.puffyBoxBodyTopics ul {
  border-top: 1px solid #AEAEAE;
  display: block !important;
}

table.dataTable .puffyBoxBodyContent ul {  }

.puffyBoxBodyContent ul {
  padding:3px 0;
  margin:0;
}

.puffyBoxBodyContent ul li {
  display: block !important;
  padding: 4px 0 4px 4px;
}
.puffyBoxBodyContent ul li a:link,
.puffyBoxBodyContent ul li a:visited {
  color: #333333;
}

.newRowSimple {
  background:#ffffcc;
}

.newRowSimple h1 {
  font-size: 14px;
  margin:0 0 10px;
}

.newRowSimple input.newSaveSimple, .newRowSimple input.newCancelSimple {
  position: relative;
  top: 6px;
}

.newRowSimple .newNameSimple{
  width:400px;
  padding:4px 6px;
}

.hot td {
  border-bottom:1px solid #333;
  background:#ffffcc;
}


/* Footer */

#content {
  padding-bottom: 10px;
}

#footer {
  position: relative;
}

#footer p {
  padding: 14px;
}

#portfolioFilterTable {
  background:#fff;
}

/* delete Filter dialogs */

html .mask {
  background-color:#333333;
}

.yui-panel .hd, .yui-panel .bd, .yui-panel .ft {
  background-color:#003366;
  border:none;
  color:#fff;
}

.yui-panel {
  border:10px solid #fff;
  background:#003366;
  padding:5px;
}

.yui-panel .hd {
  /*padding-left:25px;
  background:url(img/iconDialogWarning.gif) no-repeat 5px;*/
  text-align: center;
}

#login {
  width:40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

#login table {
 /*  margin-left: 25%;
  margin-right: 30%;*/
}

#login td {
  padding: 0 0 5px 0
}

#login td.button {
}

#login ul {
}

#login li span.errorMessage {
  color:red;
}

#login .loginTable td {
  padding: 7px 6px;
}

#login .envUrlTable {
   valign:top;
}

#login .envUrlTable td {
  padding: 7px 8px;
}

#mfa {
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

#mfa td {
  padding: 0 0 5px 0
}

#mfa .otpTable td {
  padding: 7px 6px;
}

#exceptionContent {
  padding: 10px;
  padding-bottom: 0px;
}

#exceptionBackground {
  margin: 0px;
  background-color:#FFFFFF;
  border:solid #CCCCCC 1px;
  padding: 5px 10px;
}

.yui-panel .hd {
  background-color:#003366;
  border:none;
  color:#fff;
  background: no-repeat 1px;
}

.yui-panel .bd {
  background-color:#003366;
  border:none;
  color:#fff;
}

.yui-panel .ft {
  background-color:#003366;
  border:none;
  color:#fff;
}

.yui-panel .greenHd {
  background-color:#6C958F;
  border:none;
  color:#fff;
  font-weight: bold;
  font-size:12px;
  text-align: center;
}

.yui-panel .greenBody {
  background-color:#6C958F;
  border:none;
  color:#fff;
  padding:5px;
  text-align:left;
  padding-left:20px;
}

.yui-panel .greenFoot {
  background-color:#6C958F;
  border:none;
  color:#fff;
  padding:5px;
  text-align:right;
  padding-right:10px;
}

/*Multiselect List styles*/

.multiselectlist {
  width:508px;
  height:100px;
  border:1px solid #7F9DB9;
  overflow-y:auto;
  overflow-x:hidden;
  cursor:pointer;
  background-color:#FFFFFF;
  padding : 2px 0px 2px 2px;
  white-space : nowrap;
  -webkit-border-radius: 0 0 4px 4px;
	 -moz-border-radius: 0 0 4px 4px;
	    border-radius: 0 0 4px 4px;
}

.multiselect-header {
  padding: 0px 7px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 148, 227);
  position: absolute;
  width : 160px;
  top : -9pt;
  -webkit-border-radius: 4px 4px 0 0;
	 -moz-border-radius: 4px 4px 0 0;
	    border-radius: 4px 4px 0 0;
}

.multiselectlist #rightincludeall, #leftincludeall {
   font-weight : bold;
}

.multiselectlist .aui-msl-normal {
  background-color:#FFFFFF;
  color:#000000;
  padding: 2px 3px;
}
.multiselectlist .aui-msl-selected {
  background-color:#316AC5;
  color:#FFFFFF;
  padding: 2px 3px;
}
.multiselectlist .aui-msl-hidden {
  background-color:#FFFFFF;
  color:#000000;
  visibility:hidden;
  height:0px;
}
#sanitizerSupportedCharsTable {
  width : 100%;
  align : center;
}

#sanitizerSupportedCharsTable td {
  padding : 10px 30px;
}

.progressIndicatorMask {
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:11000;
}

.progressIndicator {
  position:absolute;
  z-index:11001;
}

#instanceSelectorWrap .yui-panel {
  visibility:hidden;
  border-collapse:separate;
  position:relative;
  left:0px;top:0px;
  background:#E1E5D8 none repeat scroll 0%;
  border:1px solid #CDCDCD;
  z-index:1;
  overflow:hidden;
  padding:2px;
  font-family:LatoRegular,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#instanceSelectorWrap .yui-panel .hd {
  background-color:#6C958F;
  color:#FFFFFF;
  font-size:100%;
  line-height:100%;
  border:0px solid #FFF;
  border-bottom:0px solid #000;
  font-weight:bold;
  overflow:hidden;
  padding:8px;
  text-align:left;
}

#instanceSelectorWrap .yui-panel .bd {
  background-color:#E1E5D8;
  border:medium none;
  color:#000000;
  overflow:hidden;
  margin:0px;
}

#instanceSelectorWrap .yui-panel .bd p {
  margin:0 0 1em;
}

#instanceSelectorWrap .yui-panel .container-close {
  position:absolute;
  top:5px;
  right:4px;
  z-index:6;
  height:12px;
  width:12px;
  margin:4px;
  padding:0px;
  background:url(../common/img/close12_1.gif) no-repeat;
  cursor:pointer;
  visibility:inherit;
}

#instanceSelectorWrap .yui-panel .ft {
  background-color:#E1E5D8;
  padding:3px;
  overflow:hidden;
  float:right;
}

#instanceSelectorWrap a {
  color:#0000CC;
  font-size:12px;
}

#instanceSelectorWrap .yui-dt-firstlink, .yui-dt-prevlink, .yui-dt-nextlink, .yui-dt-lastlink, .yui-dt-pagelink {
  cursor:pointer;
  text-decoration:none;
}

#instanceSelectorWrap .yui-dt-pagelinks {
  display:block;
  text-align:right;
}

#instanceSelectorWrap .multiselectlist {
  height: 200px;
}

.errorMessage {
     font-size:12px;
     font-weight:bold;
     text-align: center;
     color:red;
}

/*Curvy container*/
.curvy-container {
  margin:10px 20px;
  background-color:#F5F5FF;
}

.curvy-container .top-left {
  margin-right: 9px; /* clip right corner */
  background-image: url('../common/img/corners.gif');
  height: 9px; /* vertical: show first half of the image with the top-corners in it */
  font-size: 2px; /* correct height for IE */
}

.curvy-container .top-right {
  margin-top: -9px; /* to level of top-left corner */
  margin-left: 9px; /* clip left corner */
  background-image: url('../common/img/corners.gif');
  background-position: 100% 0; /* show bg-image starting at the right */
  height: 9px;
  font-size: 2px;
}

.curvy-container .bottom-left {
  margin-right: 9px; /* clip right corner */

  background-image: url('../common/img/corners.gif');
  background-position: 0 -9px; /* show under half of the image */
  height: 9px;
  font-size: 2px;
}

.curvy-container .bottom-right {
  margin-top: -9px; /* to level of bottom-left corner */
  margin-left: 9px; /* clip left corner */
  background-image: url('../common/img/corners.gif');
  background-position: 100% -9px; /* under half, right side */
  height: 9px;
  font-size: 2px;
}

.curvy-container .inside {
  border-left: 1px solid #A5A5A5;
  border-right: 1px solid #A5A5A5;
  padding-left: 10px;
  padding-right: 10px;
}

.curvy-container .inside .notopgap {
  margin-top: 0;
}

.curvy-container .inside .nobottomgap {
 margin-bottom: 0;
}

.yui-dialog h1 {
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	line-height: 1em;
}