* { margin:0; padding:0; outline:0; }

body, html { height:100%; }
body { 
	font-size:14px;
	line-height:20px;
	font-family: 'LatoRegular', Helvetica, Arial, sans-serif;
	color:#777;
	background:#fff;
	-webkit-font-smoothing:antialiased;
}
.myriad-pro-light{
	font-family: "myriad-pro-n3","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}
.myriad-pro-light-italic{
	font-family: "myriad-pro-i3","myriad-pro",sans-serif;
	font-style: italic;
	font-weight: 300;
}
.myriad-pro-regular{
	font-family: "myriad-pro-n4","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.myriad-pro-regular-italic{
	font-family: "myriad-pro-i4","myriad-pro",sans-serif;
	font-style: italic;
	font-weight: 400;
}
.myriad-pro-semibold{
	font-family: "myriad-pro-n6","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
}
.myriad-pro-semibold-italic{
	font-family: "myriad-pro-i6","myriad-pro",sans-serif;
	font-style: italic;
	font-weight: 600;
}
.myriad-pro-bold{
	font-family: "myriad-pro-n7","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}
.myriad-pro-bold-italic{
	font-family: "myriad-pro-i7","myriad-pro",sans-serif;
	font-style: italic;
	font-weight: 700;
}

/*=============== FORM ELEMENTS & MISC ======================*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #929799;
	border: 1px solid #ddd;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #00addc;
	color: #000;
}
select{
	font-family: Helvetica, Arial, sans-serif!important;
}
.input-label{
	display: inline-block;
	margin-right: 15px;
}
.cloud-list > li{
	font-family: 'LatoSemiBold', Helvetica, Arial, sans-serif;
	color:#444;
}
.cloud-list > li .caret{
	margin-top: 9px;
	margin-right:5px;
	border-top-color: #0088cc;
	border-bottom-color: #0088cc;

}
.cloud-list > li >p{
	font-family: 'LatoRegular',Helvetica, Arial, sans-serif;
	color:#777;
	margin-left: 16px;
}
input[type="radio"], input[type="checkbox"] {
	margin: 3px 0 0;
}
.btn, .btn:focus, .btn-group > .btn:first-child {
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;	
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;	
	border-top-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;
	background-image: none;
	text-shadow: none;
	filter: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:1px solid #999;
	background-color:#999; 
	color:white;
 font-size:14px; color:#fff; display:inline-block; vertical-align:middle; font-family: 'LatoSemiBold';  }
.btn:hover { text-decoration:none; opacity: .8; }

.btn:hover{
	border-color:#b7b7b7;
	background-color: #b7b7b7;
	color: white;
}
.btn:active{
	border-color:#888;
	background-color: #888;
	color: white;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn:disabled,.btn[disabled],.btn.disabled{
	border-color:#d6d6d6;
	background-color: #d6d6d6;
	color: white;
}
.btn-primary, .btn-primary:focus { 
	border:1px solid #f8971d;
	background-color:#f8971d; 
	color: white;
}
.btn-primary:hover{
	border-color:#fab660;
	background-color: #fab660;
	color: white;
}
.btn-primary:active{
	border-color:#ed901a;
	background-color: #ed901a;
	color: white;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-primary:disabled,.btn-primary[disabled],.btn-primary.disabled{
	border-color:#fcd5a5;
	background-color: #fcd5a5;
	color: white;
}
.btn-red,.btn-red:focus { 
	border:1px solid #ee2d33;
	background-color:#ee2d33; 
	color: white;
}
.btn-red:hover{
	border-color:#f36c70;
	background-color: #f36c70;
	color: white;
}
.btn-red:active{
	border-color:#b8202a;
	background-color: #b8202a;
	color: white;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-red:disabled{
	border-color:#fbd3d4;
	background-color: #fbd3d4;
	color: white;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
	-webkit-border-radius: 0 0px 0px 0;
	-moz-border-radius: 0 0px 0px 0;
	border-radius: 0 0px 0px 0;
}
.btn-group.open .btn.dropdown-toggle {
	background-color: #999;
}
.btn-group >a> .caret{
	border-top: 4px solid #fff;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-border-bottom-left-radius: 0px!important;
	-webkit-border-top-left-radius: 0px!important;
	-webkit-border-top-right-radius: 0px!important;
	-webkit-border-bottom-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;	
	border-top-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;	
	border-top-right-radius: 0px!important;
	-moz-border-radius-bottomleft: 0px!important;
	-moz-border-radius-topleft: 0px!important;
	-moz-border-radius-bottomright: 0px!important;
	-moz-border-radius-topright: 0px!important;
	background-color: #eee!important;
}


.hero-caption { width:294px; background-color:#4B4B4B; padding:10px 25px;  }
.hero-caption h1 { color:#fff; font-size:30px; }

.hero-title { background-color:#1b75bc; padding:12px 20px 15px; }
.hero-title h4 { color:#fff; }

label { font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif; display:inline-block; }
.label-checkbox { display:block; }

/*=============== TEXT FORMATS ======================*/
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
h1 { font-size:36px; color:#003f5f; font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif; line-height:40px; }
h2 { font-size:24px; line-height:28px; }
h3 { font-size:24px; color:#000; line-height:28px; }
h4 { font-size:18px; color:#000; font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif; line-height:22px; }
h5 { font-size:14px; color:#444; font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif;  line-height:20px; }

a { color:#00addc; text-decoration:none; cursor:pointer; font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif;}
a:hover { color:#00addc; text-decoration:underline; }

p { margin-bottom:20px; }
p a { font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif;  }

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
p a:visited { color:#000;  }

input, textarea, select { 

	font-size:14px; font-family: 'LatoRegular', Helvetica, Arial, sans-serif; }
textarea { overflow:auto; }
fieldset { border:0 none; }

p{
	color: #777;
}
.link{
	font-family: 'LatoBold',Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.header-link{
	font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif;
	font-size: 18px;
}

/*---------- HEADER ---------*/
#top-bar{
	height: 30px;
	background: #153453;
	min-width: 940px;
}
#top-bar > div{
	margin-top: 6px;
	margin-right: 20px;
}
#top-bar > div > a{
	color: white;
	margin-left: 40px;
}
#top-bar > div > a:hover{
	text-decoration: none;
}

#main-bar{
	background: url('images/gplaypattern-blue.png') #193d61;
	border: 1px solid #193d61;
	min-width: 1105px;
}
#main-bar-inner{
	margin-left: 20px;
	border: 1px solid transparent;
	height: 59px;
}
#product-name{
	color: white;
	font-family: 'LatoSemiBold';
	margin-left: 25px;
	height:34px;
}
#profile{
	border: 1px solid #777;
	background: white;
	height: 30px;
	background-image: url('../img/profile-thumb.png');
	background-repeat: no-repeat;
	padding-left: 32px;
}
#profile > img{
	float: left;
	margin-right: 8px;
}
#profile > a{
	color: black;
	margin-top: 0px;
	font-family: 'LatoBold',Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#profile > a:hover, #profile > a:active, #profile > a:focus {
	background-color: transparent;
}
#profile.dropdown .caret {
	margin-left:10px;
}
.nav li#profile.dropdown.open .caret, .nav li#profile.dropdown.open.active .caret, .nav li#profile.dropdown.open a:hover .caret, .nav li#profile.dropdown.open a:focus .caret {
	border-top-color: black;
	border-bottom-color: black;
	opacity: 1;
	filter: alpha(opacity=100);
}
#profile > .dropdown-menu{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #eee;
}
#profile-dropdown .open .dropdown-toggle{
	background-color: white;
	border-color: white;
}
#profile-dropdown{
	margin-right: 30px;
}
#right-options{
	margin-right: 20px;
}
#right-options > div > a{
	color: white;
}
#right-options > div > a:hover{
	text-decoration: none;
}
#right-options > .nav-tabs .open > .dropdown-toggle,#right-options > .nav-pills .open .dropdown-toggle{
	background-color: transparent;
	border-color: transparent;
}
#right-options > .nav-tabs .open .dropdown-toggle > .caret-box,#right-options > .nav-pills .open .dropdown-toggle >.caret-box{
	background: #00c0f5;
}
#main-nav{
	height: 20px;
}
#main-nav > .nav-pills .open .dropdown-toggle{
	background-color: transparent;
	border-color: transparent;
}
#main-nav > .nav-pills .open >a:focus{
	text-decoration: none;
}
#main-nav > .nav-pills > li.active{
	background-image: url('images/carot.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#main-nav > .nav-pills > li> div{
	padding-left:30px;
	padding-right:30px;
	text-align: center;
	border-left: 1px solid #46627e;
	border-right: 1px solid #46627e;
	margin-left: -1px;
	height:19px;
}
#main-nav > .nav-pills > li> div > a{
	color: white;
	text-align: left;
}
#main-nav > .nav-pills > li> div > a > .caret{
	border-top-color: white;
	margin-top: 8px;
	margin-left: 5px;
}
#main-nav > .nav-pills > li > div>a:focus{
	text-decoration: none;
}
#main-nav > .nav-pills > li > div>a:hover, #main-nav > .nav-pills > li> div > a:hover > .caret{
	background: transparent;
	text-decoration: none;
	color:#ffc20e;
	border-top-color: #ffc20e;
}
#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle{
	color: #00acdc;
}
#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:hover,#main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:focus, #main-nav > .nav-pills > .dropdown .dropdown-submenu > a.dropdown-toggle:active{
	color: #fff;
}
.dropdown-menu li > a{
	line-height: 32px;
	color: #00acdc;
	font-family: 'LatoSemiBold',Helvetica, Arial, sans-serif;
	text-align: left;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	color: #fff!important;
	text-decoration: none;
	background: #00addc!important;
	background-color: #00addc!important;
	background-image: none;
}
.dropdown-submenu>a:after {
	border-color: transparent;
	border-left-color: transparent;
	border-style: none;
	border-width: 0px;
	padding-right: 9px;
	margin-top: 0px;
	content: url('images/arrow-right-gray.png');
}
.dropdown-submenu:hover>a:after{
	content: url('images/arrow-right-white.png');
}
.dropdown-submenu>.dropdown-menu {
	margin-top: -1px;
}
#main-nav > .nav-pills> li.dropdown > .open
#help-link{
	margin-top: 6px;
}
.down-chevron{
	background-image: url('images/arrow-down.png')
}
.input-append .add-on, .input-prepend .add-on {
	background-color:white;
	border-right: none;
	border-color: #ddd;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
}
#inputIcon{
	border-left:none;
}
#inputIcon:focus{
	border-color:#ddd;

}
/* FICO TABLES  */
/*===============================================================*/
.table-main, .table2, .table3, .table4{
	margin-bottom: 18px;
	display: table;
	width: 100%;
	border-collapse: collapse;		
}
.table3{
	border: 1px solid #ccc;
}
.table4 td{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
}
.table-main th, .table-main td, .table2 th, .table2 td, .table3 th{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
	border: 1px solid #ccc;
}
.table3 td{
	padding: 8px;
	line-height: 18px;	
	vertical-align: top;
}
.table-main td, .table2 td, .table3 td, .table4 td{
	text-align: left;
}
.table-main th, .table2 th, .table3 th{
	text-align: center;
	background-color: #3397d1;
	font-weight: normal;
	color: white;
}
.table-main tbody tr:nth-child(even) td{
	background-color: #f2f2f2;
}

.table2 tbody tr:nth-child(even) td{
	background-color: #EFEBE5;
}
.table3 tbody tr:nth-child(even) td{
	background-color: rgba(0, 0, 0, 0.02);
}
.row-hover tbody tr:hover td{
	background-color: #C4E7FF;
}
.table-condensed th, .table-condensed td{
  padding: 4px 5px;
}
a:focus {
    outline: 0;
}
#profile-dropdown .dropdown.pull-right .dropdown-menu{
	right:-1px;
}
#product-name > sup{
	font-size: 60%;
}
.chevron-down {
	font-family: 'icomoon';
	font-size: 9px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.chevron-down:before {
	content: "\e004";
}
#container{
	margin-left: 20px;
}


/* Workaround for DE683 */
@media all and (max-width: 1105px) and (min-width: 200px) {
	#main-nav .nav-pills li div{
	padding-left:15px;
	padding-right:15px;
	text-align: center;
	border-left: 1px solid #46627e;
	border-right: 1px solid #46627e;
	margin-left: -1px;
	height:19px;
	}
	.nav-tabs li a, .nav-pills li a {
	padding-right: 8px;
	padding-left: 8px;
	margin-right: 2px;
	line-height: 14px;
	}

}
