table.filterEditRowWrap {
  width: 100%;
  background: #E1E5D8;
  margin-bottom: 10px;
}

.table-main .editRow .filterEditRowWrap td, .table-main tr:nth-child(2n).editRow .filterEditRowWrap td { background-color: #e0e0e0; }
table.filterEditRowWrap th { border: none; vertical-align: middle; padding:2px;}
table.filterEditRowWrap td { border: none; vertical-align: middle; padding:2px;}
table.filterEditRowWrap td.buttons { padding: 0;}

table.filterEditRowWrap input {
	width:90%;
	margin-top: 4px;
	margin-bottom: 4px;
}

table.filterEditRowWrap select {
	margin-top: 4px;
	margin-bottom: 4px;
	width: auto;
}

.filterRow table tr:nth-child(2n) td {
	background-color: transparent;
}

.filterRow table tr td.orCondition {
	background-color: #FFFFCC;
}

.autoCompleteWrap {position:relative}/* set width of widget here*/

.autoCompleteContainer {position:relative;width:100%;left:0px;top:0px;z-index:9050;}
.autoCompleteContainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
.autoCompleteContainer ul {padding:0px 0;margin:0;width:100%;}
#portfolioContent .autoCompleteContainer li {padding:0 5px;margin:0;cursor:default;white-space:nowrap;}
.autoCompleteContainer li.yui-ac-highlight {color:#FFFFFF;background:#97C0A5;}
.autoCompleteContainer li.yui-ac-prehighlight {background:#E1E5D8;}
            
.phoneContainer {
  width: 100%;
}

.phoneContainer input.textBox {
  background: #FFFFFF;
}

.phoneContainer .countryCode {
	float: left;
	border:1px solid #7F9DB9;
	width:20px;
	padding:2px 2px;
}

.phoneContainer .areaCode {
	float: left;
	margin-left: 2px;
	border:1px solid #7F9DB9;
	width:22px;
	padding:2px 2px;
}

.phoneContainer .phoneNumber {
	float: left;
	margin-left: 2px;	
	border:1px solid #7F9DB9;
	width:50px;
	padding:2px 2px;
}

.ruleMessageHidden {
    width: 350px;
    color: red;
    height: 16px;
    border: 0px;
    text-align:center;
    font-weight: bold;
    padding-top: 4px;
    display: none;
    overflow:hidden;
}
.ruleMessageVisible {
    width: 350px;
    height: 16px;
    color: red;
    border: 0px;
    text-align:center;
    font-weight: bold;
    padding-top: 4px;
    overflow:hidden;
}

#ruleMessageFE {
	padding: 10px;
	text-align: left;	
}

#functionPanelWrap .yui-panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	background:#E1E5D8 none repeat scroll 0%;
	border:1px solid #CDCDCD;
	z-index:1;
	overflow:hidden;
	padding:2px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
}

#functionPanelWrap .yui-panel .hd {
	background-color:#6C958F;
	color:#FFFFFF;
	font-size:100%;
	line-height:100%;
	border:0px solid #FFF;
	border-bottom:0px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:8px;
	text-align:left;
}

#functionPanelWrap .yui-panel .bd {
	background-color:#E1E5D8;
	border:medium none;
	color:#000000;
	overflow:hidden;
	margin:0px;
}

#functionPanelWrap .yui-panel .bd p {
	margin:0 0 1em;
}

#functionPanelWrap .yui-panel .container-close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:4px;
	padding:0px;
	background:url(../common/img/close12_1.gif) no-repeat;
	cursor:pointer;
	visibility:inherit;
}

#functionPanelWrap .yui-panel .ft {
	background-color:#E1E5D8;
	padding:3px;
	overflow:hidden;
	float:right;
}

#functionPanelWrap a {
	color:#0000CC;
	font-size:12px;
}

#functionPanelWrap .yui-dt-firstlink, .yui-dt-prevlink, .yui-dt-nextlink, .yui-dt-lastlink, .yui-dt-pagelink {
	cursor:pointer;
	text-decoration:none;
}

#functionPanelWrap .yui-dt-pagelinks {
	display:block;
	text-align:right;
}

#functionPanelWrap td {
	overflow : visible;
	background-color: #E1E5D8;
}

#functionPanelWrap input {
	bottom : 0px;
	margin-bottom: 0;
}

#editFunctionContainer #editFunctionTable {
	width:100%;
}

#editFunctionContainer #editFunctionTable td {
	white-space : nowrap;
	border : none;
	vertical-align:middle;
}

#editFunctionContainer #editFunctionTable td .errorMessage {
  color:red;
}

#editFunctionContainer .selectContainer {
	border : none;
}

#editFunctionContainer #leftDiv {
	float : left;
	width : 49%;
}

#editFunctionContainer #rightDiv {
    float : right;
	width : 49%;
}

#editFunctionContainer #rightDiv .twoColumnColumn {
	width : 100%;
}

#editFunctionContainer .functionDesc {
 font-size:12px;
 font-style :italic;
 padding:10px; 
 white-space:normal;
}

#editFunctionContainer .mandatoryMessage {
 font-size:12px;
 padding:10px;
}

#editFunctionContainer .errorMessageDiv {
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}

#editFunctionContainer .errorMessage {
  text-align:left;
  padding:10px;
}

.draggableInputTarget {
  width : 100%;
}

.inputTarget{
  font: 1em Arial, Helvetica, sans-serif;
  font-size:12px;  
}

.functionSave {
	cursor:pointer;
}

.functionDelete {
	cursor:pointer;
}

.functionCancel {
	cursor:pointer;
}

.functionParamHelpLink {
	cursor:pointer;
}

.textBoxSettingValue {
  border:none;
  background: #FFFFFF;
}

#addVariablePanelWrap_c .yui-panel {
    background: none repeat scroll 0 0 #003366;
    border: 10px solid #FFFFFF;
    padding: 0px;
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background:#E9ECF5 none repeat scroll 0%;
	border:1px solid #CDCDCD;
	z-index:1;
	overflow:hidden;
}

#addVariablePanelWrap_c .yui-panel .hd {
	background-color:#B7C5E7;
	color:#000000;
	font-size:100%;
	line-height:100%;
	border:0px solid #FFF;
	border-bottom:0px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:6px;
	text-align:left;
}

#addVariablePanelWrap_c .yui-panel .bd {
	background-color:#E9ECF5;
	border:medium none;
	color:#000000;
	overflow:hidden;
	margin:4px;
}

#addVariablePanelWrap_c .yui-panel .bd p {
	margin:0 0 1em;
}

#addVariablePanelWrap_c .yui-panel .container-close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:4px;
	padding:0px;
	background:url(../common/img/close12_1.gif) no-repeat;
	cursor:pointer;
	visibility:inherit;
}

#addVariablePanelWrap_c .yui-panel .ft {
	background-color:#E9ECF5;
	padding:8px;
	overflow:hidden;
	float:right;
}

#addVariablePanelWrap_c .add-variable-panel {
   width:100%;
   padding:10px;
}

#addVariablePanelWrap_c .add-variable-panel .error-message {
  color:red;
  font-weight:bold;
  padding-bottom:10px;
}

#addVariablePanelWrap_c .add-variable-panel .label-field {
  width:100%;
  overflow:hidden;
}

#addVariablePanelWrap_c .add-variable-panel .label-field .label {
   color:#000000;
   float:left;
   width:20%;
}

#addVariablePanelWrap_c .add-variable-panel .label-field .field {
   float:left;
   width:70%;
}

.literal {
  font-style:normal;
}

.variable {  
  font-weight:bold;
}

.functionField {
  cursor:pointer;
  font-family:courier, serif;
}
.literalField {
  font-style:normal;
}
.variableField {
  font-weight:bold;
}

.general-function {
  cursor:pointer;
  font-style:italic;
}

.named-function {
  cursor:pointer;
  font-style:italic;
}
            
.textBoxSettingValue {
  border:none;
  background: #FFFFFF;
}

.orCondition {
  background:#FFFFCC;
}

.variableSelectAddIcon {
  cursor:pointer;
  vertical-align:middle;
  padding-top:3px;
}

.actionMinsLabel {
  float:left;
}

.selectBoxCellAction .variableSelectSpan, .selectBoxCellAction .actionSelect {
	float: left;
	margin-right: 3px;
}

#addVariablePanelWrap .button-group button {
	height: 26px;
    width: 44px;
    border: 0;
    background: transparent url(../common/img/buttonSave.gif) no-repeat;
    margin: 0;
}

#addVariablePanelWrap .button-group .default {
    background: transparent url(../common/img/buttonCancel.gif) no-repeat;
    width: 54px;
}
.drag-function, .drag-variable {
	cursor: pointer;
}

div.tooltip-inner {
	max-width: none;
	text-align: left;
}
