#portfolioContent {
	padding: 10px;
	padding-bottom: 0px;
}

#portfolioContent li {
	margin: 0 5px;
}
table.filterActionsTable {
	padding 0px;
}

table.filterActionsTable td {
	border:0px;
	padding:5px 5px;
	vertical-align:top;
	white-space:nowrap;
}