<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FriendTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FriendTracker.Properties.Settings>
            <setting name="SMTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CloseAfterUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogOutAfterUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.google.com</value>
            </setting>
            <setting name="ApplicationID" serializeAs="String">
                <value>526353470807663</value>
            </setting>
            <setting name="ApplicationSecret" serializeAs="String">
                <value>483825d0736f69dfa21b876c72fc397c</value>
            </setting>
            <setting name="FromEmailAddress" serializeAs="String">
                <value>thanh.pham611@gmail.com</value>
            </setting>
            <setting name="ToEmailAddress" serializeAs="String">
                <value>thoitrangella@gmail.com</value>
            </setting>
            <setting name="SMTPUseSecurity" serializeAs="String">
                <value>False</value>
            </setting>
        </FriendTracker.Properties.Settings>
    </userSettings>
</configuration>